.pizza-creator {
    border: solid rgb(53, 65, 175) 2px;
    border-radius: 5px;
}

.order-section {
    border: solid black 2px;
    border-radius: 5px;
    height: 100%;
    overflow: auto; 
    font-size: 14px;
}

.pizza-image {
    padding-top: 30px;
}

.pie {
    width: 10em;
    height: 10em;
    background-color: rgb(255, 230, 0);
    border: solid rgb(219, 161, 113) 5px;
    border-radius: 50%;
}